:root {
    --darkblue: hsl(233, 26%, 24%);
    --limegreen: hsl(136, 65%, 51%);
    --brightcyan: hsl(192, 70%, 51%);
    --grayishblue: hsl(233, 8%, 62%);
    --lightgrayishblue: hsl(220, 16%, 96%);
    --verylightgray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

.fb-icon {
    fill: "#FFF";

    &:hover {
        fill: hsl(169.59deg 69.99% 48.8%);
        cursor: pointer;
    }
}

.yt-icon {
    fill: "#FFF";

    &:hover {
        fill: hsl(169.59deg 69.99% 48.8%);
        cursor: pointer;
    }
}

.twitter-icon {
    fill: "#FFF";

    &:hover {
        fill: hsl(169.59deg 69.99% 48.8%);
        cursor: pointer;
    }
}

.pinterest-icon {
    fill: "#FFF";

    &:hover {
        fill: hsl(169.59deg 69.99% 48.8%);
        cursor: pointer;
    }
}

.insta-icon {
    fill: "#FFF";

    &:hover {
        fill: hsl(169.59deg 69.99% 48.8%);
        cursor: pointer;
    }
}

body {
    font-family: "Public Sans", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navcontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;

    .linkcontainer {
        display: flex;
        gap: 1.5rem;
        font-size: 0.9rem;
        color: rgb(128 128 128 / 66%);

        .link {
            &:hover {
                color: black;
                cursor: pointer;
                text-decoration: underline 0.22rem;
                text-underline-offset: 1.6rem;
                text-decoration-color: hsl(136deg 62.41% 41.8%);
            }
        }
    }

    .navbutton {
        border: 0.1rem solid rgb(10 91 10 / 28%);
        border-radius: 2rem;
        padding: 0.7rem 1.5rem;
        color: white;
        font-size: 0.8rem;
        background-image: linear-gradient(to right, var(--limegreen), hsl(199deg 80% 51% / 89%));
        margin-right: 3.5rem;
        &:hover {
            cursor: pointer;
            background-image: linear-gradient(to right, hsl(136deg 59.35% 60.6%), hsl(192deg 69.3% 66.67%));
        }
    }
}

.section1 {
    display: flex;
    background-color: var(--verylightgray);
    padding-left: 4rem;
    height: 42rem;

    .left {
        padding-left: 4rem;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p.left-para {
            font-size: 1rem;
            line-height: 1.7rem;
            color: hsl(233deg 8% 62% / 90%);
            padding-bottom: 1rem;
            width: 78%;
            font-weight: 300;
        }
    }

    .right {
        background-image: url(../images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-position: -59px -255px, 0px 0px;
        height: 100%;

    }

    .rightparent {
        width: 60%;
    }

    .right-image img {
        width: 100%;
        position: relative;
        top: -127px;
        right: -135px;
    }

    .button {
        border: 0.1rem solid rgb(10 91 10 / 28%);
        border-radius: 2rem;
        padding: 0.8rem 0.9rem;
        color: white;
        font-size: 0.8rem;
        background-image: linear-gradient(to right, var(--limegreen), hsl(199deg 80% 51% / 89%));
        width: 17%;
        text-align: center;

        &:hover {
            cursor: pointer;
            background-image: linear-gradient(to right, hsl(136deg 59.35% 60.6% / 52%), hsl(192, 69.3%, 66.67%));
        }
    }

    h1 {
        font-weight: 170;
        font-size: 3.2rem;
        line-height: 3.5rem;
        margin: 0;
        padding-bottom: 0.3rem;
    }
}

.section2 {
    background-color: var(--lightgrayishblue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4.1rem;
    padding-right: 4.1rem;
    height: 38rem;

    .p {
        padding: 4rem;
    }

    h2 {
        margin: 0;
        font-weight: 200;
        font-size: 2.1rem;
    }

    .section2-flex {
        display: flex;
        justify-content: space-between;
        padding-top: 3rem;
    }

    .heading2 {
        color: var(--grayishblue);
        width: 48%;
        font-weight: 300;
        line-height: 1.5rem;
        font-size: 1rem;
    }

    h3 {
        font-weight: 200;
        font-size: 1.3rem;
    }

    p.circle-para {
        width: 81%;
        font-weight: 300;
        line-height: 1.5rem;
        font-size: 0.9rem;
        color: hsl(233deg 8% 62% / 83%);
        text-align: left;
    }
}

.right-image {
    overflow: hidden;
}

.section3 {
    background-color: var(--verylightgray);
    padding: 4rem 4.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    h2 {
        margin: 0;
        padding-left: 4rem;
        font-size: 2rem;
        font-weight: 300;
        padding-bottom: 3.2rem;
    }

    h4 {
        margin: 0;
        font-size: 1rem;
        font-weight: 200;
        padding: 1rem 0rem 0rem 0rem;
        width: 82%;

        &:hover {
            color: hsl(169.59deg 69.99% 48.8%);
            cursor: pointer;
        }
    }

    p.image-para {
        font-size: 0.8rem;
        color: hsl(233deg 3.67% 55.72% / 96%);
        font-weight: 200;
        width: 87%;
        line-height: 1.1rem;
    }

    .section3-images {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding-left: 4rem;
        padding-right: 4rem;

        .smalltext {
            color: hsl(233deg 8% 62% / 96%);
            font-size: 0.6rem;
            font-weight: 200;
        }

        .textparent {
            justify-content: center;
            display: flex;
            flex-direction: column;
            padding: 1rem;
        }

        .base-container1 {
            background-color: white;
            width: 100%;
            border-radius: 1rem;
            box-shadow: 20px 25px 10px #aaaaaa2b;
        }

        .base-container2 {
            width: 100%;
            background-color: white;
            border-radius: 1rem;
            box-shadow: 20px 25px 10px #aaaaaa2b;
        }

        .base-container3 {
            width: 100%;
            background-color: white;
            border-radius: 1rem;
            box-shadow: 20px 25px 10px #aaaaaa2b;
        }

        img {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            height: 12rem;
        }

    }

    .images0 {
        width: 100%;

    }

    img {
        width: 100%;
    }
}

.footer {
    background-color: var(--darkblue);
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 4rem;
    padding-left: 4rem;

    .logo {
        fill: white;
        width: 24%;
    }

    .footerparent {
        display: flex;
        color: white;
        padding-left: 4rem;
    }

    .button {
        border: 0.1rem solid rgba(10, 91, 10, 0.28);
        border-radius: 2rem;
        padding: 0.7rem 1rem;
        color: white;
        font-size: 0.8rem;
        background-image: linear-gradient(to right, var(--limegreen), hsla(199, 80%, 51%, 0.89));
        height: 1rem;
        width: 40%;
        text-align: center;

        &:hover {
            cursor: pointer;
            background-image: linear-gradient(to right, hsl(136deg 79.73% 67.58%), hsl(192deg 64.05% 72.28%));
        }

    }

    .about-us {
        width: 14%;
        font-size: 0.8rem;
        color: #ffffffd1;
        padding: 0rem 2rem;

        .us {
            &:hover {
                cursor: pointer;
                color: hsl(169.59deg 69.99% 48.8%);
            }
        }
    }

    .careers {
        width: 37%;
        font-size: 0.8rem;
        color: #ffffffd1;

        .us1 {
            &:hover {
                cursor: pointer;
                color: hsl(169.59deg 69.99% 48.8%);
            }
        }

    }

    .social-links {
        display: flex;
        gap: 0.8rem;
        padding-top: 2rem;
    }

    li {
        list-style-type: none;
        padding-top: 1rem;

        &:hover {
            color: hsl(169.59deg 69.99% 48.8%);
            cursor: pointer;
        }
    }

    ul {
        margin: 0;
        padding: 0;
    }

    .copyright li {
        padding-top: 2rem;

        &:hover {
            color: hsl(169.59deg 69.99% 48.8%);
            cursor: pointer;
        }
    }

    .copyright {
        padding-top: 1rem;
        color: hsla(233, 8%, 62%, 0.83);
        text-align: center;
    }
}

.hamburger {
    display: none;
}

.buttonparent {
    padding-right: 4rem;
}

.button_0 {
    display: flex;
    justify-content: right;
}

.footer-logo {
    &:hover {
        fill: white;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {

    .section1 .right-image img {
        width: 100%;
        position: relative;
        top: -78px;
        right: -90px;
    }

    .section1 {
        padding-left: 0rem;

        h1 {
            font-size: 3rem;
            line-height: 3rem;
        }
    }

    .section1 .left {
        width: 44%;
    }

    .section2 .p {
        padding: 0rem;
    }

    .section1 .left p.left-para {
        width: 100%;
    }

    .section1 .button {
        width: 31%;
    }

    .section2 .heading2 {
        width: 85%;
    }

    .section2 p.circle-para {
        width: 90%;
        line-height: 1.1rem;
        font-size: 0.8rem;
    }

    .section3 {
        padding-left: 0rem;
        padding-right: 0rem;
        height: 100%;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .section2 .section2-flex {
        padding-top: 1rem;
    }

    .section3 h2 {
        padding-bottom: 2.2rem;
    }

    .section3 h4 {
        width: 75%;
    }

    .section2 h3 {
        font-size: 1rem;
    }

    .section3 .section3-images {
        display: grid;
        grid-template-columns: auto auto;
        gap: 2rem
    }

    .section3 p.image-para {
        width: 85%;
    }

    .footer .careers {
        width: 23%;
        padding: 0rem 2rem;

    }

    .footer .footerparent {
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    .footer .button {
        width: 50%;
    }

    .footer .copyright {
        font-size: 0.9rem;
    }

    .buttonparent {
        padding-right: 0rem;
    }
    .section3 p.image-para {
        font-size: 0.98rem;
        line-height: 1.6rem;
        padding-bottom: 1rem;
    }
    .section3 h4 {
        font-size: 1.4rem;
        padding-top: 1.3rem;
    }
    .section3 .section3-images .smalltext {
        font-size: 0.8rem;
        padding-top: 0.8rem;
    }
    .section3 .section3-images img {
        height: 17.7rem;
    }
}

@media (min-width: 481px) and (max-width: 766px) {

    .hamburger {
        display: flex;
        height: 1rem;
        padding-right: 1rem;

    }

    .navcontainer .linkcontainer {
        display: none;

    }

    .navbutton {
        display: none;
    }

    .navcontainer {
        justify-content: space-between;
    }

    .navcontainer .logo {
        padding-left: 1rem;
    }

    .section1 {
        padding-left: 0rem;
        flex-direction: column-reverse;
        overflow: hidden;
        padding-bottom: 3rem;
    }

    .section1 .left {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section1 .rightparent {
        width: 100%;
    }

    .section1 .right {
        background-position: -112px -334px, 0px 0px;
    }

    .section1 .right-image img {
        top: 27px;
        right: 0px;
    }

    .section1 h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
    }

    .section1 .left p.left-para {
        width: 86%;
        text-align: center;
        line-height: 1.3rem;
    }

    .section1 .button {
        width: 29%;

    }

    .section2 .section2-flex {
        flex-direction: column;
    }

    .section2 .p {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .section2 {
        height: 100%;
        padding: 4rem 2rem;
    }

    .circle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section2 h2 {
        width: 90%;
        text-align: center;
    }

    .section2 .heading2 {
        width: 100%;
        text-align: center;
    }

    .section2 p.circle-para {
        text-align: center;
        width: 65%;
        padding-bottom: 1rem;
    }

    .section3 .section3-images {
        width: 100%;
        padding: 0;

    }

    .section3 {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .footer {
        height: 100%;
        padding-top: 3rem;
        padding-bottom: 3rem;

        .footer .logo {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

    }

    .footer .footerparent {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .footer .about-us {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer .careers {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .buttonparent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer .button {
        margin: 0;
        margin-top: 2rem;
        width: 80%;
    }

    // .footer li {
    //     padding-top: 0.6rem;
    // }

    .careers {
        padding-top: 0.8rem;
    }

    .us {
        padding-top: 2rem;
    }

    .footer .logo {
        fill: white;
        width: 24%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .buttonparent {
        padding-right: 0rem;
    }

    .footer .copyright {
        padding-top: 2rem;
    }

    .section3 .section3-images {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1.5rem
    }

    .section3 h2 {
        padding-left: 0rem;
    }

    .footer li {
        list-style-type: none;
        padding-top: 1rem;
        width: 100%;
    }

    .us1 {
        width: 21%;
    }

    .section3 h4 {
        width: 100%;
    }

    .section3 p.image-para {
        width: 100%;

    }
}














@media (max-width: 480px) {
    .hamburger {
        display: flex;
        height: 1rem;
        padding-right: 1rem;

    }

    .navcontainer .linkcontainer {
        display: none;

    }

    .navbutton {
        display: none;
    }

    .navcontainer {
        justify-content: space-between;
    }

    .navcontainer .logo {
        padding-left: 1rem;
    }

    .section1 {
        padding-left: 0rem;
        flex-direction: column-reverse;
        overflow: hidden;
        padding-bottom: 3rem;
    }

    .section1 .left {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section1 .rightparent {
        width: 100%;
    }

    .section1 .right {
        background-position: -112px -334px, 0px 0px;
    }

    .section1 .right-image img {
        top: 6px;
        right: 0px;
    }

    .section1 h1 {
        padding-left: 2rem;
        font-size: 2.4rem;
        line-height: 2.6rem;
        text-align: center;
        padding-top: 2rem;
        padding-right: 2rem;
    }

    .section1 .left p.left-para {
        width: 86%;
        text-align: center;
        line-height: 1.3rem;
        font-size: 0.9rem;
    }

    .section1 .button {
        width: 29%;

    }

    .section2 .section2-flex {
        flex-direction: column;
    }

    .section2 .p {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .section2 {
        height: 100%;
        padding: 4rem 1rem;
    }

    .circle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section2 h2 {
        width: 90%;
        text-align: center;
        font-size: 1.8rem;
    }

    .section2 .heading2 {
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
    }

    .section2 p.circle-para {
        text-align: center;
        width: 100%;
        padding-bottom: 1rem;
    }

    .section3 .section3-images {
        width: 100%;
        padding: 0;

    }

    .section3 {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .footer {
        height: 100%;
        padding-top: 3rem;
        padding-bottom: 3rem;

        .footer .logo {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

    }

    .footer .footerparent {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .footer .about-us {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer .careers {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .buttonparent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer .button {
        margin: 0;
        margin-top: 2rem;
        width: 80%;
    }

    // .footer li {
    //     padding-top: 0.6rem;
    // }

    .careers {
        padding-top: 0.8rem;
    }

    .us {
        padding-top: 2rem;
    }

    .footer .logo {
        fill: white;
        width: 24%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .buttonparent {
        padding-right: 0rem;
    }

    .footer .copyright {
        padding-top: 2rem;
    }

    .section3 .section3-images {
        display: flex;
        // grid-template-columns: auto auto;
        gap: 2rem;
        flex-direction: column;

    }

    .section3 h2 {
        padding-left: 0rem;
    }

    .footer li {
        list-style-type: none;
        padding-top: 1rem;
        width: 100%;
    }

    .us1 {
        width: 21%;
    }
}


@media (min-width: 767px) and (max-width: 993px) {

    .section3 p.image-para {
        font-size: 0.9rem;
        line-height: 1.3rem;
        padding-bottom: 0rem;
    }

    .section3 h4 {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    .section3 .section3-images img {
        height: 15rem;
    }

}